.block {
  border: 1px solid black;
  margin: 16px;
  padding: 16px;
  position: relative;
}

.block__title {
  position: absolute;
  top: -8px;
  left: 16px;
  margin: 0;
  background: white;
  padding-left: 8px;
  padding-right: 8px;
}

.block__title_rerendered {
  background: red;
}