.header {
  background: cornsilk;
  display: flex;
  justify-self: center;
}

.header__back {
  color: blue;
  padding: 8px;
}

.header__title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.2rem;
}
